body{
    background: radial-gradient(#ff5d71, #EB3349);
}
.calculator {
  max-width: 360px;
  margin: 20px auto;
  padding: 20px;
  
}
.calculator-screen {
  width: 110%;
  height: 60px;
  background: #222;
  color: #fff;
  text-align: right;
  line-height: 60px;
  padding: 0 10px;
  border-radius: 5px;
  font-size: 24px;
}
.btn {
  font-size: 18px;
  height: 60px;
  width: 60px;
  margin: 10px;
  border:2px solid wheat;
  background: radial-gradient(circle at bottom center, #FFC837 15px, #FF8008);
}
#clear{
    width: 110%;
    border:2px solid wheat;
}
#sum{
    width: 400%;
    border:2px solid wheat;
}